# Added automatically after installing Neon from the Vercel Marketplace.
DATABASE_URL=

# Added automatically after installing Clerk from the Vercel Marketplace.
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-in
